@model ML.AlumnoMateria
@{
    ViewBag.Title = "MateriaGetNoAsignados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h1>MATERIAS</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-10">
        <h4>MARQUE LA CASILLAS EN LAS MATERIAS QUE DESEAS AGREGAR</h4>
    </div>
</div>

<div class="row">
        @using (Html.BeginForm("MateriaGetNoAsignados", "AlumnoMateria", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group hidden">
                @Html.LabelFor(model => model.Alumno.IdAlumno, new { @class = "control-label col-md-2 hidden" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Alumno.IdAlumno, new { @class = "form-control hidden", @readonly = true })
                    @Html.ValidationMessageFor(model => model.Alumno.IdAlumno)
                </div>
            </div>
            
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Alumno.Nombre, new { @class = "control-label" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Alumno.Nombre, new { @class = "form-control", @ReadOnly = "True" })
                        @Html.ValidationMessageFor(model => model.Alumno.Nombre)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Alumno.ApellidoPaterno, "Apellido Paterno", new { @class = "control-label" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Alumno.ApellidoPaterno, new { @class = "form-control", @ReadOnly = "True" })
                        @Html.ValidationMessageFor(model => model.Alumno.ApellidoPaterno)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Alumno.ApellidoMaterno, "Apellido Materno", new { @class = "control-label" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Alumno.ApellidoMaterno, new { @class = "form-control", @ReadOnly = "True" })
                        @Html.ValidationMessageFor(model => model.Alumno.ApellidoMaterno)
                    </div>
                </div>
            </div>
            
            <div class="row" style="padding-top:30px">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center">
                                Selecciona
                            </th>
                            <th class="text-center " scope="col">
                                Nombre
                            </th>
                            <th class="text-left" scope="col">
                                Costo
                            </th>
                        </tr>
                        @foreach (ML.AlumnoMateria alumnoMateria in Model.AlumnoMaterias)
                        {
                            <tr>
                                <td class="text-center hidden">
                                    @alumnoMateria.Materia.IdMateria
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" value="@alumnoMateria.Materia.IdMateria" name="AlumnoMaterias">
                                </td>
                                <td class="text-left">
                                    @alumnoMateria.Materia.Nombre
                                </td>
                                <td class="text-left">
                                    @alumnoMateria.Materia.Costo
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="form-group col-md-12">
                        <div class="text-center">
                            <input class="btn btn-success" type="submit" value="Guardar" />
                        </div>
                    </div>
                    <center>
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.ActionLink("Regresar", "MateriaGetAsignados", "AlumnoMateria", Model.Alumno, htmlAttributes: new { @class = "btn btn-danger btn-block" })
                            </div>
                        </div>
                    </center>
                </div>
            </div>
   
        }

</div>